@use '../abstract/variables' as variables;
@use '../abstract/mixins' as mixins;

.footer {
  // padding-top: 10rem;
  margin-top: -9rem;
  color: variables.$white;

  &__contents {
    // max-width: 90%;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-inline: 1.5rem;

    background: variables.$dark-cyan url(../../assets/desktop/image-footer.jpg)
      no-repeat center / cover;
    background-blend-mode: multiply;

    @include mixins.respond(phone) {
      background-image: url(../../assets/mobile/image-footer.jpg);
    }

    @include mixins.respond(tab-port) {
      flex-direction: column;
      justify-content: center;
      row-gap: 3rem;
    }
  }

  &__text {
    max-width: 31rem;

    @include mixins.respond(tab-port) {
      max-width: 100%;
    }
  }

  &__heading {
    max-width: 45rem;

    @include mixins.respond(tab-port) {
      max-width: 100%;
    }
  }

  &__copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: variables.$black;
    padding: 2rem 5rem;
    border-top: 2px solid variables.$gray;

    @include mixins.respond(phone) {
      flex-direction: column;
      row-gap: 1rem;
    }
  }
}
