/* primary */
$dark-cyan: #4d96a8;
$dark-violet: hsla(268, 34%, 53%, 1);

/* secondary */
$light-cyan: hsla(192, 90%, 77%, 1);
$light-violet: hsla(268, 100%, 86%, 1);

/* neutral */
$black: rgb(55, 55, 82);
$gray: hsla(240, 10%, 57%, 1);
$light-gray: hsla(240, 10%, 57%, 0.25);
$white: hsla(0, 0%, 98%, 1);

/* buttom hover */
$cyan-hover: hsla(192, 54%, 64%, 1);
$violet-hover: hsla(268, 55%, 71%, 1);

$font-stack: 'red hat display', sans-serif;
$default-font-size: 1.6rem;
$default-font-weight: 600;
