@use '../abstract/variables' as variables;

.btn {
  &:link,
  &:visited {
    display: inline-block;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    font-weight: 700;
    transition: background-color 0.3s ease;
  }

  &--cyan {
    &:link,
    &:visited {
      color: variables.$white;
      background-color: variables.$dark-cyan;
      margin-right: 3rem;
    }

    &:hover {
      background-color: variables.$cyan-hover;
    }

    &__span {
      color: variables.$light-cyan;
    }
  }

  &--violet {
    &:link,
    &:visited {
      background-color: variables.$dark-violet;
      color: variables.$white;
    }

    &:hover {
      background-color: variables.$violet-hover;
    }

    &__span {
      color: variables.$light-violet;
    }
  }
}
