@use '../abstract/variables' as variables;

.text-box {
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
  padding: 0 3rem;

  &__main-heading {
    text-transform: uppercase;
    color: variables.$dark-cyan;
    font-weight: 800;
  }

  &__sub-heading {
    margin: 2.5rem 0;
  }
}
